<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Clientes de la Tienda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-button (click)="nuevo()">Agregar</ion-button>
    <ion-button color="success" (click)="modificar()">Modificar</ion-button>
    <ion-button color="danger" (click)="verificarEliminar()">Eliminar</ion-button>

    <ngx-datatable class="material" [sortType]="'multi'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"
      [rows]="clientes" [columns]="columnas" [columnMode]="modoColumna.force" [limit]="10"
      [selectionType]="tipoSeleccion.single" (activate)="onActivate($event)">

    </ngx-datatable>
  </div>


  <ventana-modal id="modalModificar">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title>Editando Cliente</ion-title>
      </ion-toolbar>
    </ion-header>
    <form>
      <div *ngIf="clienteEdicion">
        <ion-item>
          <ion-label>Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="clienteEdicion.nombre" name="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Tipo de Documento</ion-label>
          <ion-select [(ngModel)]="clienteEdicion.idTipodocumento" name="tipodocumento" interface="popover">
            <ion-select-option *ngFor="let tipodocumento of tipodocumentos" [value]="tipodocumento.id">
              {{tipodocumento.tipo}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Documento de Identidad</ion-label>
          <ion-textarea [(ngModel)]="clienteEdicion.documento" name="documento"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>Ciudad</ion-label>
          <ion-select [(ngModel)]="clienteEdicion.idCiudad" name="ciudad" interface="popover">
            <ion-select-option *ngFor="let ciudad of ciudades" [value]="ciudad.id">{{ciudad.ciudad}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Dirección</ion-label>
          <ion-input type="text" [(ngModel)]="clienteEdicion.direccion" name="direccion"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Teléfono</ion-label>
          <ion-input type="text" [(ngModel)]="clienteEdicion.telefono" name="telefono"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Móvil</ion-label>
          <ion-input type="text" [(ngModel)]="clienteEdicion.movil" name="movil"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Correo</ion-label>
          <ion-input type="text" [(ngModel)]="clienteEdicion.correo" name="correo"></ion-input>
        </ion-item>
      </div>
      <ion-button color="success" (click)="guardar('modalModificar')">Aceptar</ion-button>
      <ion-button color="medium" (click)="cerrarVentanaModal('modalModificar')">Cerrar</ion-button>
    </form>
  </ventana-modal>



  <ventana-modal id="modalEliminar">
    <h1>Eliminando Título</h1>
    <p>Está Seguro de eliminar el registro?</p>
    <ion-button color="success" (click)="eliminar('modalEliminar')">Eliminar</ion-button>

    <ion-button color="medium" (click)="cerrarVentanaModal('modalEliminar')">Cerrar</ion-button>
  </ventana-modal>

</ion-content>